@mixin centered-image {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin tag($h:24, $color:$blue) {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: $h + px;
  line-height: $h + px;
  border-radius: $h / 2 + px;
  background: $color;
  color: #fff;
  font-size: 12px;
  padding: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}
