$bg: #f4f4f7;
$divide: #efeef3;
$line: #d4d5da;
$blue: #7288c0;
$pink: #d892c9;
$yellow: #c7cd62;
$title: #484149;
$text: #5d545f;
$footer: #2b272c;


/*SNS colors*/
$fb: #3B5998;
$tw: #55acee;
$hb: #008fde;
$pk: #ef4056;
