.post-thumbnail-wrapper {
  width: 244px;
}
.post-thumbnail-wrapper {
  background: $text;
  img {
    transition: 0.2s;
  }
  &:hover {
    img {
      opacity: 0.8;
    }
  }
}
.post-content {
  padding: 0 0 0 20px;
}
.post-title {
  font-size: 16px;
  a {
    transition: 0.2s;
    &:hover {
      color: $blue;
    }
  }
}
