.article-content {
  background: #fff;
  padding: 16px;
  width: 100%;
}
.article-inner {
  h2 {
    font-size: 18px;
    color: $title;
  }
  h3 {
    font-size: 16px;
    color: $title;
  }
  p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 2rem;
    a {
      color: $blue;
      text-decoration: underline;
    }
  }
  ul {
    padding: 0.5rem 0 1.5rem;
    list-style: none;
    font-size: 14px;
    li {
      font-weight: bold;
      position: relative;
      padding: 0.5rem 0 0.5rem 1rem;
      &:before {
        position: absolute;
        left: 0.5rem;
        top: 1rem;
        content: "";
        left: 0;
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $text;
      }
    }
  }
  figure {
    max-width: 100%;
    padding: 0 0 1rem;
    margin: 0;
    img {
      max-width: 100%;
      height: auto;
    }
    figcaption {
      padding: 12px 0 0;
      font-size: 12px;
      text-align: center;
      color: $text;
      opacity: 0.4;
    }
  }
  blockquote {
    font-size: 14px;
    margin: 16px 0 32px;
    padding: 16px 24px;
  }
}
.article-footer-author {
  border-top: 1px solid $line;
  padding: 24px 0;
  display: flex;
}
.article-footer-author-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #ccc;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.article-footer-author-text {
  flex: 1;
  padding: 0 0 0 12px;
  .author-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 4px 0;
  }
  .author-message {
    font-size: 12px;
    margin: 0;
    line-height: 1.6;
  }
}
