.article-content {
  padding: 16px;
}
.article-inner {
  h2 {
    font-size: 18px;
    color: $title;
  }
  h3 {
    font-size: 16px;
    color: $title;
  }
  ul {
    padding: 0.5rem 0 1.5rem;
    li {
      padding: 0.5rem 0 0.5rem 1rem;
    }
  }
  figure {
    padding: 0 0 1rem;
  }
  blockquote {
    padding: 16px 24px;
    background-size: 24px;
  }
}
.article-footer-author-img {
  width: 56px;
  height: 56px;
}
.article-footer-author-text {
  padding: 0 0 0 12px;
}
