.main-footer {
  padding: 32px 12px;
}
.l-footer-widget {
  flex-flow: column-reverse;
  .footer-widget {
    margin: 0 0 40px;
    &:first-child {
      margin: 24px 0 0;
    }
  }
}
.footer-logo-image {
  text-align: center;
  img {
    width: 56px;
    height: auto;
  }
}
.copyright {
  text-align: center;
}
