.article-content {
  padding: 48px 40px;
}
.article-inner {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  ul {
    padding: 1rem 0 2.5rem;
    li {
      padding: 0.5rem 0 0.5rem 1.5rem;
    }
  }
  blockquote {
    padding: 16px 56px;
    background-size: 50px 36px;
  }
}
.article-footer-author {
  border-top: 1px solid $line;
  padding: 24px 0;
  display: flex;
}
.article-footer-author-img {
  width: 64px;
  height: 64px;
}
.article-footer-author-text {
  padding: 8px 0px 8px 12px;
}
