.main-footer {
  padding: 72px 0 32px;
}
.l-footer-widget {
  flex-wrap: wrap;
  .footer-widget {
    padding: 0 12px;
    &:first-child {
      width: 88px;
    }
  }
}
.footer-logo-image {
  padding-top: 32px;
  img {
    width: 72px;
    height: auto;
  }
}
