.container {
  width: 98%;
  max-width: 860px;
  margin: 0 auto;
  position: relative;
}
.column-container {
  display: flex;
  flex-direction: column;
}
.l-main-column {
  padding: 32px 16px;
}
.l-side-column {
  padding: 32px 16px;
}
