.post-index-item {
  margin-bottom: 32px;
  display:flex;
}
.post-thumbnail-wrapper {
  margin: 0;
  width: 244px;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.post-content {
  flex: 1;
  padding: 0 0 0 20px;
}
.post-title {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 12px;
  a {
    text-decoration: none;
    color: $title;
  }
}
.post-meta {
  list-style: none;
  font-size: 12px;
  padding: 0;
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
  .post-tag {
    @include tag();
    margin: 0 12px 0 0;
  }
  .date {
    color: $text;
    opacity: 0.3;
  }
}
.c-post-author {
  display: flex;
  align-items: center;
  .author-image-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    border: 1px solid $line;
    background: $line;
    overflow: hidden;
    img {
      @include centered-image;
    }
  }
  .author-name {
    font-size: 12px;
    padding-left: 8px;
  }
}
