// 追従ヘッダー＆メニュー編
.main-header {
  position: absolute;
}
.header-top {
  padding: 64px 0;
}
.header-top-content {
  display: flex;
  justify-content: space-between;
  .logo-img {
    display: none;
  }
  .icon {
    width: 56px;
    height: 56px;
    fill: #fff;
  }
}
