.main-footer {
  padding: 72px 0 32px;
  a {
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}
.footer-widget {
  padding: 0 12px;
}
.footer-logo-image {
  text-align: left;
  padding: 8px 0;
  img {
    width: 80px;
    height: auto;
  }
}
