.index {
  .header-top {
    padding-top: 32px;
    display: flex;
    justify-content: flex-end;
    .header-search {
      position: relative;
      width: 100%;
      min-height: 40px;
      &:before {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $blue;
        background-image: url('../img/icon_search.svg');
        background-position: center;
        background-size: 20px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      .search-form-input {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 4px 12px;
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        transition: 0.2s;
        &:focus {
          width: 200px;
          border: 1px solid $line;
        }
      }
    }
  }
  .main-logo {
    text-align: center;
    padding: 12px 0 16px;
    img {
      display: inline-block;
      width: 88px;
      height: auto;
    }
  }
  .index-main-menu {
    .main-menu-list {
      display: flex;
      justify-content: center;
      padding: 0;
    }
    .main-menu-item {
      font-weight: bold;
      padding: 10px 0;
      margin: 0 20px;
      font-size: 14px;
      a {
        color: $title;
      }
    }
    .current-menu-item {
      border-bottom: 3px solid $blue;
    }
  }
}
.post {
  .main-header {
    z-index: 200;
    position: absolute;
    width: 100%;
  }
  .main-logo {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    img {
      width: 64px;
      height: auto;
    }
    .menu-button {
      width: 32px;
      height: 32px;
      padding: 0;
      position: relative;
      .menu-toggle-inner {
        display: block;
        height: 2px;
        width: 24px;
        background: $footer;
        margin: 15px 4px;
        &:before, &:after {
          content: "";
          display: block;
          width: 24px;
          height: 2px;
          background: $footer;
          position: absolute;
          left: 4px;
        }
        &:before {
          top: 8px;
        }
        &:after {
          bottom: 8px;
        }
      }
    }
  }
  .article-main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    visibility: hidden;
    .main-menu-list {
      display: flex;
      flex-flow: column;
      visibility: hidden;
      padding: 32px 0;
      margin: 0;
      min-height: calc(100vh - 48px);
      background: rgba(255, 255, 255, 0.95);
    }
    .main-menu-item {
      font-weight: bold;
      padding: 12px;
      margin: 0;
      font-size: 14px;
      text-align: center;
      opacity: 0;
      a {
        padding: 8px 0;
        color: $title;
      }
    }
    .current-menu-item a {
      border-bottom: 3px solid $blue;
    }
  }
  @keyframes menu-fade {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100%;
    }
  }
  @keyframes list-dropdown {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  .article-main-menu.open {
    visibility: visible;
    .main-menu-list {
      visibility: visible;
      animation: menu-fade .2s ease-in forwards;
      @for $cnt from 1 through 10 {
        .main-menu-item:nth-child(#{$cnt}){
          animation: list-dropdown 0.5s ease $cnt*0.2s 1 forwards;
        }
      }
    }
  }
}
