.side-post-item {
  a, img {
    transition: 0.2s;
  }
  &:hover {
    a {
      color: $blue;
    }
    img {
      opacity: 0.8;
    }
  }
}

.tag-cloud {
  overflow: hidden;
  a {
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }
}
.widget-author {
  .author-list-item {
    flex: 1 1 50%;
    width: 50%;
    a, img {
      transition: 0.2s;
    }
    &:hover {
      a {
        color: $blue;
      }
      img {
        opacity: 0.8;
      }
    }
  }
}
