body {
  background: $bg;
  font-family: Helvetica, sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}
